.header {
    height: 50px;
    background-color: darkgrey;
}
.goods-item {
    width: 250px;
    height: 250px;
    border: 1px black solid;
    margin-top: 25px;
}
.goods-item img {
    padding-left: 10px;
    padding-top: 10px;
}

.goods-item h3 {
  padding-left: 10px;  
}
.goods-item p {
  padding-left: 10px;  
}

.goods-list {
    display: flex;
    justify-content: space-around;
}
.cart-button {
    margin-left: 1100px;
    margin-top: 15px;
    border-radius: 5px;
    width: 80px;
    height: 25px;
    outline: none;
}
.cart-button:hover {
    background-color: gainsboro;
}
.cart-button:active {
    background-color: lightblue;
}
.container {
    width: 1140px;
    margin: 0 auto;
}